<section class="form py-5">
  <h1 class="mat-headline-3 mb-0 text-capitalize py-5">Register Form</h1>
  <form
    [@streatch]
    (ngSubmit)="register()"
    [formGroup]="registrationForm"
  >

    <!-- user name -->
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control shadow-0"
        id="floatingInput"
        placeholder="name"
        [ngClass]="{
          'is-valid': !f['username']?.errors,
          'is-invalid': f['username']?.errors && f['username']?.touched
        }"
        formControlName="username"
      />
      <label for="floatingInput">Name</label>
      <div *ngIf="f['username']?.dirty" class="errorGroupe my-3">
        <p *ngIf="f['username']?.getError('required')" class="alert alert-danger">
          Your name is required
        </p>
        <p *ngIf="f['username']?.getError('maxlength')" class="alert alert-danger">
          Username must be at least 100 characters long
        </p>
        <p *ngIf="f['username']?.getError('minlength')" class="alert alert-danger">
          Username must be at least 3 characters long
        </p>
      </div>
    </div>

    <!-- user email -->
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control shadow-0"
        id="floatingInputemail"
        placeholder="email"
        [ngClass]="{
          'is-valid': !f['email']?.errors,
          'is-invalid': f['email']?.errors && f['email']?.touched
        }"
        formControlName="email"
      />
      <label for="floatingInputemail">Email</label>
      <div *ngIf="f['email']?.dirty" class="errorGroupe my-3">
        <p *ngIf="f['email']?.getError('required')" class="alert alert-danger">
          Your email is required
        </p>
        <p *ngIf="f['email']?.getError('email')" class="alert alert-danger">
          Your email is not valid
        </p>
      </div>
    </div>

    <!-- user password -->
    <div class="form-floating mb-3">
      <input
        type="password"
        class="form-control shadow-0"
        id="floatingInputPassword"
        placeholder="Password"
        [ngClass]="{
          'is-valid': !f['password']?.errors,
          'is-invalid': f['password']?.errors && f['password']?.touched
        }"
        formControlName="password"
      />
      <label for="floatingInputPassword">Password</label>
      <div *ngIf="f['password']?.dirty" class="errorGroupe my-3">
        <p *ngIf="f['password']?.getError('required')" class="alert alert-danger">
          Your password is required
        </p>
        <p *ngIf="f['password']?.getError('pattern')" class="alert alert-danger">
          Password must start with an uppercase letter, followed by 6 to 20 lowercase letters or digits.
        </p>
      </div>
    </div>

    <!-- user rePassword -->
    <div class="form-floating mb-3">
      <input
        type="password"
        class="form-control shadow-0"
        id="floatingInputrePassword"
        placeholder="RePassword"
        [ngClass]="{
          'is-valid': !f['cPassword']?.errors,
          'is-invalid': f['cPassword']?.errors && f['cPassword']?.touched
        }"
        formControlName="cPassword"
      />
      <label for="floatingInputrePassword">RePassword</label>
      <div *ngIf="f['cPassword']?.dirty" class="errorGroupe my-3">
        <p *ngIf="f['cPassword']?.getError('required')" class="alert alert-danger">
          Your rePassword is required
        </p>
        <p *ngIf="f['cPassword']?.getError('noMatch')" class="alert alert-danger">
          Your rePassword does not match
        </p>
      </div>
    </div>

    <app-btncart
      [formValid]="registrationForm.valid"
      [isLoding]="isLoding"
      text="Register"
      [bgMain]="true"
      [loderBgMain]="true"
    ></app-btncart>
  </form>
</section>




